*
{
    margin:auto;
    box-sizing: border-box;
    
}
body
{
    background: linear-gradient(135deg,blue,green,yellow);
} 

div
{
    margin-top: 10%;
     align-items: center;
     display: grid;
     justify-content: center;
     background:linear-gradient(120deg,blue,skyblue,white);
     background-size: cover;
}
p
{
    font-size: 20px;
    font-weight: 700;
    color:rgb(221, 34, 159);
}
label
{
    color: rgb(5, 5, 53);
    text-shadow: 0px 2px 3px rgb(214, 132, 77);
    font-weight: 800;
    font-size: 18px;
}